section.modalDialog{
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    opacity: 0;
    position:fixed;
    z-index: 1; 
}

section.modalDialog h2{
    background: none;
    color:whitesmoke;
    width: 115%;
    opacity: 1;
    font-weight: bold;
    font-family: cursive;
}

section.modalDialog:target{
    opacity: 1;
}

a.close{
    background-color:red; 
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    position:absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    text-decoration: none;
    width: 28px;
    z-index: 100;
}

a.close:hover{
    background-color: darkred;
}

section.modal{
    background-color:darkslategray;
    box-shadow: 0px 0px 10px #000;
    border-radius: 5px;
    color:#fff;
    margin:10% auto;
    padding: 20px;
    position: relative;
    width: 350px;
}

h2{
    color:#fff;
    font-size: 2em;
    margin-bottom: 10px;
}

p{
    color:#fff;
    font-size:1.2em;
}
.modal{
    
}

@media screen and (max-width:800px){
    section.modal{
        margin-top: 100px;
    }
    
}

@media screen and (max-width:600px){
    section.modalDialog h2{
        margin-left: -20px;
    }
    
}