main{
    position: relative;
    top: 60px;
}

.titulo h1{
    padding: 25px;
    color:#118327;
    font-style:oblique;
    font-family: cursive;
    text-align: center;
    font-size: 55px;
}

.logo{
   text-align: center;
    width: 100%;
}

.logo img{
    width: 40%;
    margin-top: -38px;
}

.inicio{
  margin-top: -50px;
}

.inicio h1{
    text-align: center;
    font-family:cursive;
    font-size: 40px;
    margin-left: 50px;
}

.area{
    padding: 70px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.area h2{
    margin-top: -13px;
    text-align: center;
    margin-left:-20px;
    font-size: 20px;
    display: inline-block;
    opacity: .7;
    margin-bottom: 20px;
    background-color: darkgreen;
    height: 54px;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-family: cursive;
    font-weight:bold;
    cursor: pointer;
    display: inline-block
}

.area h3{
    text-align: center;
    display: inline-block;
    opacity: .7;
    margin-bottom: 20px;
    background-color: darkgreen;
    height: 50px;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-family: cursive;
    height: 30px;
    color: white;
    font-size: 19px;
    font-weight:bold;
    cursor: pointer;
}

.area h2:hover{
    opacity: 1;
    color: white;
}

.area h3:hover{
    opacity: 1;
    color:white;
}

@media screen and (max-width:910px){
  
    .area{
        justify-content:space-between;
    }  
}

@media screen and (max-width: 879px){

    .area{
      margin: 0px -30px;  
    } 
}

@media screen and (max-width:800px){
    .inicio h1{
        padding: 30px;
        margin-bottom: -50px;
    }
    .logo img{
     width:300px;   
    }
    
    .area{
        margin: 0px 70px;
        justify-content:space-around;
        
    }
}
@media screen and (max-width: 726px){
 
    .area{
      margin: 0px 40px; 
    } 
}
@media screen and (max-width: 700px){
 
    .area{
      margin: 0px 20px; 
    } 
}
@media screen and (max-width: 726px){
 
    .area{
      margin: 0px 30px; 
    } 
}
@media screen and (max-width: 650px){
 
    .area{
      margin: 0px 0px; 
    } 
}

@media screen and (max-width:600px){
    .titulo h1{
        font-size: 40px;
        padding-bottom:30px;
    }
    .inicio h1{
        font-size: 25px;
        margin-bottom: -170px;      
    }
    .area{
        justify-content: space-between;
        margin-top: 21%;
        margin-right: 21%;
        margin-left: 21%;
        justify-content: center;
    }
    
    .area h2,.area h3{
        font-size: 18px;
    }
    .area h2{
        margin-left: 0px;
    }
}

@media screen and (max-width:550px){
    .area h2{
        width: 210px;
         margin-left: 35px;
    }
     .area h2{
    height: 30px;
    margin-left: -3px;}
}

@media screen and (max-width:500px){
    .area{
        padding: 70px;
    }
   
    
}

@media screen and (max-width:450px){
      .area{
        padding: 100px;
    }
}